openapi: '3.0.2'
info:
  title: Fire Financial Services Business API (v2.0)
  description: >
    The fire.com API allows you to deeply integrate Business Account features into your application or back-office systems.


    The API provides read access to your profile, accounts and transactions, event-driven notifications of activity on the account and payment initiation via batches. Each feature has its own HTTP endpoint and every endpoint has its own permission.



    The API exposes 3 main areas of functionality: financial functions, service information and service configuration.

    ## Financial Functions

    These functions provide access to your account details, transactions, payee accounts, payment initiation etc.

    ## Service Functions

    These provide information about the fees and limits applied to your account.

    ## Service configuration

    These provide information about your service configs - applications, webhooks, API tokens, etc.
  version: '1.0'
  contact: 
    name: Fire API
    url: https://docs.fire.com
    email: api@fire.com
servers:
  - url: https://api-preprod.fire.com/business/v1
    description: Preproduction/Sandbox Server
  - url: https://api.fire.com/business/v1
    description: Production Server
paths:
  /apps/accesstokens:
    $ref: ./v1.0/paths/apps/accesstokens.yaml
    
  /accounts:
    $ref: ./v1.0/paths/accounts/accounts.yaml
    
  /accounts/{ican}:
    $ref: ./v1.0/paths/accounts/accounts-by-ican.yaml

  /accounts/{ican}/transactions:
    $ref: ./v1.0/paths/transactions/transactions-by-account.yaml 

  /accounts/{ican}/transactions/filter:
    $ref: ./v1.0/paths/transactions/transactions-by-account-filtered.yaml 

  /cards:
    $ref: ./v1.0/paths/cards/cards.yaml

  /cards/{cardid}/transactions:
    $ref: ./v1.0/paths/cards/card-transactions.yaml

  /cards/{cardId}/block:
    $ref: ./v1.0/paths/cards/card-block.yaml

  /cards/{cardId}/unblock:
    $ref: ./v1.0/paths/cards/card-unblock.yaml
    
  /paymentrequests:
    $ref: ./v1.0/paths/paymentrequests/paymentrequests.yaml

  /aspsps:
    $ref: ./v1.0/paths/aspsps/aspsps.yaml

# This endpoint is for Bankpay only. 
#  /payments/{paymentUuid}/bankpayrefund:
#    $ref: ./v1.0/paths/payments/refund-payment-by-paymentuuid.yaml

  /payments/{paymentUuid}:
    $ref: ./v1.0/paths/payments/payments-by-paymentuuid.yaml

  /users:
    $ref: ./v1.0/paths/users/users.yaml

  /user/{userId}:
    $ref: ./v1.0/paths/users/user-by-userid.yaml

  /apps:
    $ref: ./v1.0/paths/apps/apps.yaml

  /payees:
    $ref: ./v1.0/paths/payees/payees.yaml

  /directdebits:
    $ref: ./v1.0/paths/directdebits/directdebits.yaml

  /directdebits/{directDebitUuid}:
    $ref: ./v1.0/paths/directdebits/directdebit-by-directdebituuid.yaml

  /directdebits/{directDebitUuid}/reject:
    $ref: ./v1.0/paths/directdebits/reject-directdebit-by-uuid.yaml

  /mandates:
    $ref: ./v1.0/paths/mandates/mandates.yaml

  /mandates/{mandateUuid}:
    $ref: ./v1.0/paths/mandates/mandate-by-uuid.yaml

  /mandates/{mandateUuid}/cancel:
    $ref: ./v1.0/paths/mandates/cancel-mandate-by-uuid.yaml

  /mandates/{mandateUuid}/activate:
    $ref: ./v1.0/paths/mandates/activate-mandate-by-uuid.yaml

  /batches:
    $ref: ./v1.0/paths/batches/batches.yaml

  /batches/{batchUuid}/internaltransfers:
    $ref: ./v1.0/paths/batches/internaltransfers.yaml

  /batches/{batchUuid}/banktransfers:
    $ref: ./v1.0/paths/batches/banktransfers.yaml

  /batches/{batchUuid}/internaltransfers/{itemUuid}:
    $ref: ./v1.0/paths/batches/internaltransfer-by-itemuuid.yaml

  /batches/{batchUuid}/banktransfers/{itemUuid}:
    $ref: ./v1.0/paths/batches/banktransfer-by-itemuuid.yaml

  /batches/{batchUuid}:
    $ref: ./v1.0/paths/batches/batch-by-batchuuid.yaml

  /batches/{batchUuid}/approvals:
    $ref: ./v1.0/paths/batches/approvers-for-batch.yaml

# webhooks:
#   events:
#     $ref: ./v1.0/webhooks/events.yaml

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Access Token
  responses:
    UnauthorisedError:
      description: Access Token is Invalid or missing
  parameters:
    orderParam:
      name: order
      in: query
      required: false
      description: Either `ASC` or `DESC`
      schema:
        enum:
            - ASC
            - DESC
    orderByParam:
      name: orderBy
      in: query
      required: false
      description: Currently defaults to `DATE` No other options at this time.
      schema:
        enum:
            - DATE
    limitParam:
      name: limit
      in: query
      required: false
      description: The number of records to return. Defaults to 10 - max is 200.
      schema:
        type: integer
        default: 10
        maximum: 200
    offsetParam:
      name: offset
      in: query
      required: false
      description: The page offset. Defaults to 0. This is the record number that the returned list will start at. E.g. `offset = 40` and `limit = 20` will return records 40 to 59.
      schema:
        type: integer
        default: 0
security:
  - bearerAuth: []
tags:
  - name: Authentication
    description: >
      Access to the API is by Bearer Tokens. The process is somewhat similar to OAuth2.0, but with some changes to improve security.

      1. You must first log into the firework online application and create a new Application in the Profile > API page. (You will need your PIN digits and 2-Factor Authentication device).
      
      2. Give your application a Name and select the scope/permissions you need the application to have (more on Scopes below).
      
      3. You will be provided with three pieces of information - the App Refresh Token, Client ID and Client Key. You need to take note of the Client Key when it is displayed - it will not be shown again.
      
      
      You now use these pieces of data to retrieve a short-term Access Token which you can use to access the API. The Access Token expires within a relatively short time, so even if it is compromised, the attacker will not have long to use it. The Client Key is the most important piece of information to keep secret. This should only ever be stored on a backend server, and never in a front end client or mobile app.


      **If you ever accidentally reveal the Client Key (or accidentally commit it to Github for instance) it is vital that you log into firework online and delete/recreate the App Tokens as soon as possible. Anyone who has these three pieces of data can access the API to view your data and set up payments from your account (depending on the scope of the tokens).**
      
      
      Once you have the access token, pass it as a header for every call, like so:

      `Authorization: Bearer $ACCESS_TOKEN`

      Whenever it expires, create a new nonce and get a new access token again.
  - name: Accounts
    description: fire.com Accounts are the equivalent of a bank account from bank.
  - name: Open Banking
    description: >
      Fire Open Payments is a feature of the fire.com business account that leverages Open Banking to allow your customers to pay you via bank transfer and to reconcile those payments as they are received into your fire.com GBP or EUR account.


      To set up each Fire Open Payment you first need to create a payment request. This contains the details of the payment such as the amount, destination account, description as well as various other specific fields that you want to associate with the payment. The payment request is represented as a URL with a unique code which can then be incorporated into an eCommerce shopping cart as an alternative form of payment. For example, you can put “Pay by Bank” on your website along with “Pay by Card” and “Pay by PayPal”. It can also be distributed by a variety of means such as by email, SMS, WhatsApp, encoded as a QR code, NFC tag, etc.


      Consumers confirm the payment details such as the amount are correct, select their bank and authorise the payment. Payments can be made from all major UK banks.


      The funds are settled into your fire.com account, fully reconciled, with your specified fields provided.


      There are two implementation options you can use to display payment pages with Fire Open Payments.

      1. **Hosted Payment Pages:** fire.com hosts the payment pages - this option allows you to re-direct your customer to the hosted fire.com payment pages displaying the payment details confirmation, bank selection, consent and response pages.

      2. **Integrated Payment Pages:** You host the payments page yourself - this option allows you to have control of the UI and UX for displaying the payment details confirmation, bank selection and response pages. Once the response is received, fire.com can re-direct the payer back to your website.


      ## Hosted Payment Pages Option

      ![Image](https://fire.com/docs/images/fop-hosted-flow.png)


      The payer is brought through 5 stages to complete the payment:

      1. **View Payment Details page:** The payer must first be clear on the amount of the payment, who they are paying and the reason for the payment.

      2. **Select Bank / Account Provider page:** The payer then selects their bank. Again this step is offered as part of the fire.com payment UI.

      3. **Consent page:**  The payer must provide consent to the PISP (fire.com) prior to authorising the payment. This is a regulatory requirement, this page must be hosted by fire.com.

      4. **Authenticate and Authorise Payment:** The payer will be redirected to their bank’s online site or mobile banking app. After authenticating, the details of the payment will be displayed, and the payer will authorise the payment.

      5. **Response page:** It is a regulatory requirement that the PISP (fire.com) display the results of the payment and provide the same information that would be provided if the payer had made the payment via their banking application. fire.com must display this page, before optionally redirecting the payer back to your website.


      To implement the hosted Fire Open Payments option you need to do the following:

      1. You can create a new Fire Open Payment request either within Firework Online or via the API.

      2. Create your new API application with the appropriate permissions required in Firework Online, as outlined in the “Authentication” steps. The permissions needed are:
          - “Create a Payment Request”
          - “Get Payment Details”

      3. Use the Refresh Token, Client ID and Client Key to create an access token as outlined in the “Authentication” steps.

      4. On your website, create a “Pay by Bank” button alongside your other available payment methods, such as Cards and PayPal.

      5. After the user clicks on “Pay by Bank”, you need to create a new Fire Open Payment request as outlined in the “Create a Fire Open Payment” steps. The Create a Fire Open Payment request endpoint returns a unique code for the payment request.

      6. Create a URL using the code returned in this format: `https://payments.fire.com/{code}` and redirect your customer to this page.

      7. fire.com will host all the pages that the customer needs to review and authorise the payment. fire.com will will return the paymentUUID of the successful or failed transaction to the returnUrl that you supplied when creating the Fire Open Payment request. fire.com can also optionally send a “webhook” to your website notifying you of the transaction’s outcome.

      8. Once fire.com responds with the paymentUUID and/or the webhook to your website, you need to call the “Get Payment Details” endpoint to get the details of the transaction. This will let you know whether the transaction was successful or not. You can set up the “Payment Request Payment Authorised” webhook to notify you once the payment is authorised or cancelled.

      9. The funds will be received into your GBP or EUR account. Funding will typically be within 6 business hours.


      Once the code is returned the payment can be viewed and paid by going to the following URL: `https://payments.fire.com/{code}`
  - name: API
    description: Manage your API Applications and Webhooks
  - name: Transactions
    description: While there are many types of transactions, they are all represented by the same JSON object with a different txnType.
  - name: Direct Debits
    description: > 
      The fire.com api allows businesses to automate direct debit payment actions on their fire.com business accounts.


      You can retrieve details of your direct debit payments, direct debit mandates and also take actions on both your direct debit payments and mandates.
  - name: Payment Batches
    description: >
      The fire.com API allows businesses to automate payments between their accounts or to third parties across the UK and Europe.


      For added security, the API can only set up the payments in batches. These batches must be approved by an authorised user via the firework mobile app.



      The process is as follows:


      **1.**Create a new batch
      
      
      **2.**Add payments to the batch
      
      
      **3.**Submit the batch for approval


      Once the batch is submitted, the authorised users will receive notifications to their firework mobile apps. They can review the contents of the batch and then approve or reject it. If approved, the batch is then processed. You can avail of enhanced security by using Dual Authorisation to verify payments if you wish. Dual Authorisation can be enabled by you when setting up your API application in firework online.


      **Batch Life Cycle Events**


      A batch webhook can be specified to receive details of all the payments as they are processed. This webhook receives notifications for every event in the batch lifecycle.


      The following events are triggered during a batch:


      **batch.opened:** Contains the details of the batch opened. Checks that the callback URL exists - unless a HTTP 200 response is returned, the callback URL will not be configured.


      **batch.item-added:** Details of the item added to the batch


      **batch.item-removed:** Details of the item removed from the batch


      **batch.cancelled:** Notifies that the batch was cancelled.


      **batch.submitted:** Notifes that the batch was submitted


      **batch.approved:** Notifies that the batch was approved.


      **batch.rejected:** Notifies that the batch was rejected.


      **batch.failed:** Notifies that the batch failed - includes the details of the failure (insufficient funds etc)


      **batch.completed:** Notifies that the batch completed successfully. Includes a summary.


      Push notifications are sent to the firework mobile app for many of these events too - these can be configured from within the app.



